{{ define "main" }}
<h1>Artikel Terbaru</h1>

{{ range .Paginator.Pages }}
<article class="post-list">
  <h2>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h2>
  <small>{{ .Date.Format "02 Jan 2006" }}</small>
  <p>{{ .Params.description }}</p>
</article>
{{ end }}

<nav class="pagination">
  {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">← Sebelumnya</a>
  {{ end }}

  {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}">Selanjutnya →</a>
  {{ end }}
</nav>
{{ end }}
